*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}

.main{
    margin: 8px;
    display: flex;
}

.home__container{
    width: 100%;
}

.homeContents{
    padding: 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    padding: 20px;
}

.logo img{
    width: 100px;
}

.tabs{
    margin-top: 20px;
    font-size: 15px;
}

.tabs span{
    font-size: 35px;
}

.homeRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 40px;
    color: white;
    cursor: pointer;
}

.homeRow a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.searchRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    color: gray;
    cursor: pointer;
}

.searchRow a{
    color: gray;
    text-decoration: none;
    margin-left: 20px;
}


.searchRow:hover{
    color: white;
}

.sidebar{
    width: 440px;
    height: 100vh;
    padding: 10px;
    top: 0;
    left: 0;
}

.library{
    margin-top: 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
}

.libraryTab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

.libraryIcon{
    display: flex;
    align-items: center;
}

.libraryTab img{
    width: 30px;
    margin-right: 20px;
    padding: 10px;
}

.discover{
    margin: 10px;
    padding: 10px;
    height: 240px;
    overflow-y: scroll;
}

.discover::-webkit-scrollbar{
    display: none;
}

.createPlaylist{
    background-color: #393636;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 30px;
    padding: 10px;
    cursor: default;
}

.createPlaylist button{
    background-color: white;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 50px;
    border: 0;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
}

.podcastSearch{
    background-color: #393636;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 30px;
    padding: 10px;
    cursor: default;
}

.podcastSearch button{
    background-color: white;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50px;
    border: 0;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
}

.podcastSearch button:hover{
    transform: scale(1.02);
}

.createPlaylist button:hover{
    transform: scale(1.02);
}

footer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    margin-top: 45px;
}

footer a{
    color: gray;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.language button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.language{
    margin: 20px;
    padding-bottom: 20px;
}

.mainBody{
    width: 100%;
    height: 100vh;
    background-color:  rgb(29 28 28);
    border-radius: 10px;
    margin: 5px;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainBody::-webkit-scrollbar{
    display: none;
}

header{
    background-color: rgb(22 21 21);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 9;
}

.navArrows{
    display: flex;
    width: 50%;
    cursor: pointer;
}

.navArrows .material-icons-round{
    font-size: 40px;
    font-weight: lighter;
    color: gray;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.signup:hover{
    transform: scale(1.03);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bolder;
    cursor: pointer;
}

.login:hover{
    transform: scale(1.03);
}

.signupOrLogin{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.element{
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element h2,span{
    cursor: pointer;
}

.artist{
    margin-left: 10px;
    line-height: 25px;
    padding: 10px;
    cursor: pointer;
}

.artist:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.artist img{
    width: 135px;
    border-radius: 50%;
}

.artist h5{
    color: gray;
}

.artists{
    display: flex;
    
}

.artistSection{
    margin-top: 20px;
}

.album{
    margin-left: 10px;
    line-height: 25px;
    padding: 10px;
    cursor: pointer;
}

.album:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.album img{
    width: 135px;
    border-radius: 5px;
}

.albums{
    display: flex;
}

.radio{
    margin-left: 10px;
    line-height: 25px;
    padding: 10px;
    cursor: pointer;
}

.radio:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.radio img{
    width: 135px;
    border-radius: 5px;
}

.radios{
    display: flex;
}

.linkBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.linkBox h4{
    color: white;
    cursor: default;
}

.linkBox span{
    color: rgb(158, 158, 158);
    cursor: pointer;
}

.footer__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.socialLinks img{
    width: 20px;
    background-color: rgb(49, 49, 49);
    border-radius: 50%;
    padding: 10px;   
    margin: 5px;
    cursor: pointer;
}

.socialLinks{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.mainFooter{
    padding: 10px;
}

footer hr{
    height: 1px;
    width: 100%;
    margin: 20px;
    background-color: rgb(61 58 58);
    border: none;
}

.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    color: rgb(212, 209, 209);
    cursor: default;
}

.copyright .material-icons-round{
    font-size: 15px;
}

.footer__bottom{
    display: flex;
    justify-content: left;
    padding: 20px;
    margin-bottom: 30px;
}

@media all and (max-width: 430px){

    *{
        margin: 0;
    }

    .sidebar{
        display: none;
    }

    .artist img{
        width: 145px;
    }

    .artists{
        overflow-x: scroll;
        margin-left: 20px;
    }

    .album img{
        width: 145px;
    }

    .albums{
        overflow-x: scroll;
        margin-left: 20px;
    }

    .radio img{
        width: 145px;
    }

    .radios{
        overflow-x: scroll;
        margin-left: 20px;
    }

    .footer__top{
        display: flex;
        flex-direction: column;
    }

    .navArrows{
        display: none;
    }

    .signupOrLogin{
        width: 200px;
    }
}